<p id="notice"><%= notice %></p>

<h1 class="font-semibold text-4xl my-8 pt-28">Articles</h1>

<table>
  <thead>
    <tr>
      <th class="title_table">Title</th>
      <th class="title_table">Content</th>
      <th class="title_table" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td class="content_table"><%= article.title %></td>
        <td class="content_table"><%= article.content %></td>
        <td class="content_table"><%= link_to 'Show', article %></td>
        <td class="content_table"><%= link_to 'Edit', edit_article_path(article) %></td>
        <td class="content_table"><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
